.floating-prompt-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}


.floating-prompt-modal {
  min-height: 550px;
  background: #faf6f4;
  padding: 32px 24px;
  border: 2px solid #FF9E6B;
  border-radius: 20px;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}
